.zone-rectangles {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 15px;
  margin-top: 5px;
}

h1 {
  margin-top: 5px;
  margin-left: 12px;
  font-size: 10px;
  font-weight: normal;
}
