.elements {
  background-color: #f4e700;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.file {
  width: 80px;
  line-height: 50px;
  height: 50px;
  background-color: #2b4e87;
  margin-right: 10px;
  border-radius: 5px;
  /* text-align: center; */
}

p {
  margin: 0 auto;
  text-align: center;
  width: 20px;
  height: 10px;
}

/* .file::after {
  content: "";
  border: 2px solid red;
}

.line {
  width: 20px;
  height: 60px;
  background-color: #203d74;
} */

.yellow {
  background-color: #f4e700;
}
.orange {
  background-color: #ff9800;
}

.red {
  background-color: #f64d25;
}
